@font-face {
    font-family: Alatsi;
    src : url(Alatsi-Regular.ttf)
}
body{
    font-family: Alatsi;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    margin-left: -1px;
    margin-top: 0x;
    width: 100%;
    height: 9%;
    background-color: #ffffff;
    box-shadow: 1px 5px 7px #B9B3B3;
}
#navbarr{
    margin-left: 33%;
    padding-top: 1%;
}
.navbar1{
    margin-left: 50px;
    font-size: 18px;
    color: #595959;
}
#navbarr a:hover{
    color: black;
}
#javaguide{
    width: 20%;
}
#java{
    margin-left: 15px;
    margin-top: -5px;
    font-size: 35px;
}
#guide{
    margin-left: 35px;
    margin-top: -52px;
    font-size: 25px;
}
#atas{
    display: flex;
    width: 86%;
    height: 70px;
    margin: auto;
    box-shadow: 1px 1px 2px 1px #B9B3B3;
    z-index: 2;
}
#judul{
    width: 30%;
    height: 30px;
    margin-left: 3%;
    font-size: 22px;
    color: #333333;
}
.mjudul{
    display: flex;
    width: 30%;
    height: 25px;
    margin-left: 38%;
    margin-top: 2.5%;
}
.mjudul1{
    font-size: 15px;
    color:  #3291E8;
}
#judul2{
    margin-top: 0;
    color: #B9B3B3;
}
#bagian{
    display: flex;
    width: 100%;
    height: 100%;
}
#main{
    width: 64%;
    height: 100%;
    margin-top: 3%;
    margin-left: 7%;
    box-shadow: 1px 1px 2px 1px #B9B3B3;
}
#judulm{
    width: 90%;
    height: 7%;
    margin: auto;
    font-size: 28px;
    color: #333333;
}
.identitas{
    display: flex;
    width: 60%;
    height: 5%;
    margin: auto;
}
.box{
    display: flex;
    width: 118px;
    height: 20px;
    margin: auto;
}
#icon{
    width: 14px;
    height: 14px;
    margin: auto;
}
#keterangan{
    font-size: 13px;
    color: #666666;
    margin: auto;
}
#pantai{
    margin-left: 15%;
}
#isi{
    width: 90%;
    height: 100%;
    margin-top: 3%;
    margin-left: 5%;
    text-align: justify;
}
#menu{
    width: 10%;
    height: 100%;
    border: 1px solid;
}
#tabelsearch{
    left: 990px;
    margin-left: 14%;
    margin-top: 40px;
    width: 260px;
    height: 160px;
    background: #ffffff;
    border: 0.1px #B9B3B3 solid;
    line-height: 0px;
}
#search1{
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
#search2{
    display: flex;
    width: 200px;
    height: 40px;
    border: 0.1px #B9B3B3 solid;
    margin: auto;
    margin-top: 28px;
    background-color:  #F4F4F4;
}
#tsearch{
    font-size: 15px;
    color: #B9B3B3;
    margin: auto;
}
#tabelartikel{
    left: 990px;
    margin-left: 14%;
    margin-top: 40px;
    width: 260px;
    height: 550px;
    background: #ffffff;
    border: 0.1px #B9B3B3 solid;
    line-height: 0px;
}
#artikel1{
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
#baru{
    display: flex;
}
#below{
    width: 25px;
    height: 25px;
}
#artikel2{
    width: 220px;
    margin-top: -2px;
    font-size: black 15px;
    line-height: 25px;
}