@font-face {
    font-family: Alatsi;
    src : url(Alatsi-Regular.ttf)
}
body{
    font-family: Alatsi;
}
a{
    text-decoration: none;
}
.menu{
    display: flex;
    width: 80%;
    height: 5%;
    margin: auto;
    border: 1px solid;
}
#judul{
    font-size: 15px #333333;
}
